        <ul id="social">
            <li id="follow">
                <span class="icon icon-rocket"> </span>
                <span class="title"> follow </span>
                <div class="dropdown follow">
                    <ul class="social">
                        <li> <a href="http://github.com/carlisia" target="_blank" title="github" class="github"><span class="icon icon-github"></span>GitHub</a> </li>
                        <li> <a href="http://www.linkedin.com/in/carlisia" target="_blank" title="linkedIn" class="linkedin"><span class="icon icon-linkedin"></span>linkedIn</a> </li>
                        <li> <a href="http://www.twitter.com/carlisia" target="_blank" title="Follow me on Twitter" class="twitter"><span class="icon icon-twitter"></span>carlisia</a> </li>
                        <li> <a href="http://www.twitter.com/golangbridge" target="_blank" title="Follow GoBridge Twitter" class="twitter"><span class="icon icon-twitter"></span>golangbridge</a> </li>
                    </ul>
                    <span class="subcount">&nbsp;</span>
                </div>
            </li>
        </ul>
